DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'FirstApp',
        'USER': 'postgres',
        'PASSWORD': 'Gustav135',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}