{% extends 'climateApp/base.html' %}


{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Charts</title>
    <style>
        .chartBox {
            width: 1600px;

        }
        .chartBox2 {
            width: 1600px;
            display: grid;
            align-items: center;
            justify-content: center;

        }
    </style>
</head>
<body>


<div class="chartBox">
  <canvas id="myChart"></canvas>
</div>
<h1>{{ grade_value| safe }}</h1>
{% for b in resources %}
<h1> {{ b.producer }} {{ b.name }} {{ b.pk }} </h1>
{% endfor %}

<hr>

{% for i in resources %}
<div class="chartBox2">
  <canvas id="myChart{{ i.pk }}" ></canvas>
</div>
{% endfor %}


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
            var df1={{identity |safe }}
            var df2={{cotwo_value|safe }}
            var df3={{cfour_value|safe }}
            //setup data
            const data = {
                labels: df1,
                datasets: [{
                label: 'Grade',
                data: df2,
                borderWidth: 1
              }, {
                label: 'Score',
                data: df3,
                borderWidth: 1
              }]
            };
            //----------->
            //config
            const config = {
                type: 'bar',
                data,
                options: {
                scales: {
                    x: {
                        stacked: true
                    },
                    y: {
                        stacked: true
                }
              }
            }
            };

            //render init block
            const myChart = new Chart(
                document.getElementById('myChart'),
                config,
            );
</script>

<br>

<script>
    {% for i in students %}

            var df1={{resources |safe }}
            var df2={{cotwo_value|safe }}
            var df3={{cfour_value|safe }}
            //setup data
            const data{{ i.pk }} = {
                labels: df1,
                datasets: [{
                label: 'something',
                data: df2,
                borderWidth: 1
              }, {
                label: 'something else',
                data: df3,
                borderWidth: 1
              }]
            };
            //----------->
            //config
            const config{{ i.pk }} = {
                type: 'bar',
                data:data{{ i.pk }},
                options: {
                scales: {
                    x: {
                        stacked: true
                    },
                    y: {
                        stacked: true
                }
              }
            }
            };

            //render init block
            const myChart{{ i.pk }} = new Chart(
                document.getElementById('myChart{{ i.pk }}'),
                config{{ i.pk }}
            );
            {% endfor %}

</script>


</body>

</html>


{% endblock %}




