{% extends 'climateApp/base.html' %}


{% block content %}
    <div class="chartBox">
        <canvas id="myChart"></canvas>
        <div class="row">
            <div class="col">
                <div class="card card-body">
                    git<center> <h1> Filter materials below:</h1>
                        <br> </center>
                    <form method="get">
                        {{ myFilter.form }}
                        <button class="btn btn-primary" type="submit">
                            Search
                        </button>
                        <a class="btn btn-warning" href="{% url 'home' %}">Reset filter</a>

                    </form>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form }}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <center>
    <h1>List of producers:</h1> <br>
        <h3>[{% for i in resourcesFiltered %}"{{ i.producer }}" {% endfor %}],</h3>
        <hr>
<center> <h1> Material properties:</h1>
                        <br> </center>
        <table id="mytable" class="table table-bordered">
            <thead>
            <tr>
                <th>material</th>
                <th>material name</th>
                <th>producer</th>
                <th>A1-A3 - Materials (kg CO2e)</th>
            </tr>
            </thead>
            <tbody>
            {% for material in materials %}
                <tr>
                    <td>{{ material.name }}</td>
                    <td>{{ material.material }}</td>
                    <td>{{ material.producer }}</td>
                    <td>{{ material.cotwovalue_aonethree }}</td>
                </tr>

            {% endfor %}
            </tbody>


    </center>




{% endblock %}
