{% extends 'climateApp/base.html' %}

<br>

<br>


{% block content %}



    <center>
        <h1>Data Sources</h1>
        <table id="mytable" class="table table-bordered">
            <thead>
            <tr>
                <th>material</th>
                <th>material name</th>
                <th>producer</th>
                <th>A1-A3 - Materials (kg CO2e)</th>
            </tr>
            </thead>
            <tbody>
            {% for material in materials %}
                <tr>
                    <td>{{ material }}</td>
                    <td>{{ material.name }}</td>
                    <td>{{ material.producer }}</td>
                    <td>{{ material.cotwovalue_aonethree }}</td>
                </tr>

            {% endfor %}
            </tbody>


    </center>


{% endblock %}

